<h2>Available Doctors</h2>
<div *ngIf="doctors" class="doctor-list">
  <div *ngFor="let doctor of doctors">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image">
          <img *ngIf="doctor.Gender == 0" mat-card-image src="../../../assets/images/user.png" alt="Photo of a Doctor">
          <img *ngIf="doctor.Gender == 1" mat-card-image src="../../../assets/images/user-female.png"
            alt="Photo of a Doctor">
        </div>
        <mat-card-title>{{doctor.Name}}</mat-card-title>
        <mat-card-subtitle>{{doctor.ID}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          ID: {{doctor.ID}}
          Name: {{doctor.Name}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" [routerLink]="['/doctors',doctor.ID]">Details</button>
        <button mat-raised-button color="warn" [routerLink]="['/doctors/edit',doctor.ID]">Edit</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>